%texto {
    text-align:justify;
    line-height: 2rem;
    font-weight: 500;
    font-size: 1rem;
    color: nth($coloresdelapagina,3 )
    
   
    
}

%botones {
    background-color: $color-principal;
    border: solid 3px;
    border-radius: 0.5rem;
    color: nth($coloresdelapagina ,3);
    text-decoration: none;
    transition: 1s;

    
    &:hover{
        
        background-color:nth($coloresdelapagina, 2) ;
        transform: scale(1.1);
    }    
    
}

%cards {
    border-color: $color-principal;
    transition: 1s;
    align-items: center;

    &:hover{
        transform: scale(1.1);
    }

    .card-img-top {
        width: 400px;
        height: 230px;  
    }

    .card-body {
        color: nth($coloresdelapagina, 5 );
        text-align: center;

        .btn-primary {
            @extend %botones;
        }

    }

}


