//footer
.misredes{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}

h3{
    color: $color-principal;
    text-decoration: solid;
}
  
.logoinstagram {
    width: 55px ;
    height: 550x;

}

.logofacebook {
    width: 40px;
    height: 40px;

}

h4{
    font-size: 1rem;
    text-decoration: underline;
}


