nav {
    
    div { 
        background-color: $color-principal;

        img {
            width: 200px;
            height: 200px;
        }
     
        ul {
            li {
                font-weight: bold;
                font-size: 1rem;
                ;

                &:hover {

                    transform: scale(1.1);
                    
                }
            }
        }
    }
}
