//NavBar

nav {

    div { 
        background-color: $color-principal;

        .logo-web {
            width: 200px;
            height: 200px;
            
            &:hover {
                transform: scale(1.1);
                transition: 1s;

            }

        }
     
        ul {
            li {
                font-weight: bold;
                font-size: 1rem;
                ;

                &:hover {

                    transform: scale(1.1);
                    transition: 1s;
                    
                }
            }
        }
    }
}
