
//pagina sobre mi

.imagen-perfil {
    height: 350px;
    width: 350px;
}

.col {
    display: flex;
    justify-content: center;
} 

//formulario contacto
.contacto-container {
    margin: 2rem*4 ;
    border: dotted 0.5rem;
    border-color:nth($coloresdelapagina , 4);

    .btn-primary {
        @extend %botones;
        
    }
}