@media screen and (min-width: 320px) and (max-width: 480px) {
    .logofacebook {
        height: 30px;
        width: 30px;
    }
    .logoinstagram {
        height: 30px;
        width: 30px;
    }
    .imagen-perfil {
        height: 250px;
        width: 250px;
    }

    img {
        height: 50%;
        width:50% ;
    }

}